@{
	Layout = "_CleanLayout";
	ViewData["Title"] = "Sign Up Success";
}

<div>
	<h1>Sign Up Successful!</h1>
	<p>Thank you for signing up! You can now log in to your account.</p>
	<a href="@Url.Action("Login", "Auth")">Log In</a>
</div>