@{
	Layout = "_CleanLayout";

	ViewData["Title"] = "Settings";
}

<div class="center-screen">
	<div class="surface">
		<h2>Settings</h2>
		<table>
			<tr>
				<td>
					<nav>
						<a href="/settings/darkmode"></a>
						<span>Dark Mode</span>
					</nav>
					<nav>
						<a href="/settings/editprofile"></a>
						<span>Edit Profile</span>
					</nav>
				</td>
			</tr>
		</table>
	</div>
</div>