@model List<Data.Entities.ProjectEntity>
@{

	ViewData["Title"] = "Projects";
}

@await Html.PartialAsync("Partials/Components/_ProjectOverview")


@if (Model == null || !Model.Any())
{
	<h6>No projects found</h6>
} else
	@foreach (var project in Model)
	{
			
}