@{
	ViewData["Title"] = "Clients";
}

<section class="main-overview">
	<h2>Clients</h2>
	<button class="btn btn-blue">
		<i class="fa-solid fa-plus"></i>
		<span>Add</span>
		<span>Client</span>
	</button>
</section>