<div class="edit-pop-up-menu">
	<div class="pop-up-menu-links">
		<div class="pop-up-menu-section">
			<a href="/edit" class="pop-up-menu-link">
				<img src="~/images/ProfileAvatar.svg" alt="Profile Picture" />
				<span>Edit Project</span>
			</a>
		</div>
	</div>
</div>


