@{
	ViewData["Title"] = "Members";
}

<section class="main-overview">
	<h2>Members</h2>
	<button class="btn btn-blue">
		<i class="fa-solid fa-plus"></i>
		<span>Add</span>
		<span>Member</span>
	</button>
</section>

