@{
	ViewData["Title"] = "Projects";
}

<section class="main-overview">
	<h2>Projects</h2>
	<button class="btn btn-blue">
		<i class="fa-solid fa-plus"></i>
		<span>Add</span>
		<span>Project</span>
	</button>
</section>

@await Html.PartialAsync("Partials/Components/_ProjectStatusLinks")
