<div class="profile-pop-up-menu">
	<div class="pop-up-menu-links">
		<div class="pop-up-menu-section">
			<a href="/profile" class="pop-up-menu-link">
				<img src="~/images/ProfileAvatar.svg" alt="Profile Picture" />
				<span>Rikard Nyman</span>
			</a>
		</div>

		<div class="pop-up-menu-section" id="popup-menu">
			<a href="/settings" class="pop-up-menu-link">
				<img src="~/images/Settings.svg" alt="Projects icon" />
				<span>Settings</span>
			</a>
		</div>

		<div class="pop-up-menu-section">
			<a href="/logout" class="pop-up-menu-link">
				<img src="~/images/Logout.svg" alt="Logout icon" />
				<span>Logout</span>
			</a>
		</div>
	</div>
</div>


