<div class="settings-pop-up-menu">
	<div class="pop-up-menu-links">
		<div class="pop-up-menu-section" id="popup-menu">
			<a href="/settings" class="pop-up-menu-link">
				<img src="/images/Settings.svg" alt="Projects icon" />
				<span>Settings</span>
			</a>
		</div>
	</div>
</div>


